@import '@angular/material/prebuilt-themes/purple-green.css';

h1 {
    font-size: 3em;
    margin-left: 50px;
}

h2 {
    font-size: 2em;
    margin-left: 50px;
}

#bounding-box {
    padding: 3em;
}

#content {
    display: flex;
    flex-direction: row;
}

#answer-content {
    font-weight: 500; 
    font-size: 20px;
    cursor: pointer;
    margin-top: 1em;
}

.answer-line {
    font-weight: 400; 
    font-size: 20px;
    margin-bottom: 1em;
}

#question {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 2em;
    width: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    font-size: 16px;
}
 
section {
    margin-top: 1em;
    margin-left: 1em;
}

mat-card {
    display: block;
    width: 100%;
    min-height: 300px;
}
